# npm 镜像配置（国内加速，同时用于 Electron 二进制下载）
registry=https://registry.npmmirror.com/
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
# 关闭审计与捐赠提示，加快安装速度
audit=false
fund=false
